html
    head
        title= Config.page_title

        link(rel="stylesheet", href="/public/css/global.css")

        script(type="application/javascript").
            var Config = {
                SocketServer: "ws://#{Config.socket_server}:#{Config.socket_server_port}",
                RoomID: "#{roomID}"
            };
        script(async, type="application/javascript", src="/public/js/utils.js")
        script(async, type="application/javascript", src="/public/js/local_game.js")
        script(async, type="application/javascript", src="/public/js/local_player.js")
        script(async, type="application/javascript", src="/public/js/sections.js")
        script(defer, type="application/javascript", src="/public/js/global.js")

        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        section#section_name.game_section
            include game_sections/section_name
        section#section_send_inv.game_section.hidden
            include game_sections/section_send_inv
        section#section_enter_secret.game_section.hidden
            include game_sections/section_enter_secret
        section#section_waiting_for_player.game_section.hidden
            include game_sections/section_waiting_for_player
        section#section_the_game.game_section.hidden
            include game_sections/section_the_game
        section#section_fatal_error.game_section.hidden
            include game_sections/section_fatal_error

        //less important
        link(rel="stylesheet", href="/public/css/fontello.css")
        link(rel="stylesheet", href="/public/css/section_send_inv.css")
        link(rel="stylesheet", href="/public/css/section_waiting_for_player.css")
        link(rel="stylesheet", href="/public/css/section_the_game.css")