@-ms-viewport{
    width: device-width;
}

body {
    background: black;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
}
.hidden {
    display: none !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}
h1 {
    font-size: 4rem;
}
.game_section, body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
}
button, input {
    border: .1rem solid #03d1f4;
}
input {
    background: black;
    outline: none;
    border-top: none;
    color: white;
    font-size: 1.6rem;
    padding: 0 .6rem 0;
}
button {
    background: black;
    outline: none;
    color: white;
    padding: .8rem;
    width: 9rem;
    cursor: pointer;
}

div.simpleInput {
    display: flex;
}

.errorMessage {
    color: red;
}

/* small screens */
@media screen and (orientation: portrait) {
    div.simpleInput {
        flex-flow: column;
    }
    div.simpleInput button {
        width: 100%;
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}