#section_the_game {
    height: 100%;
}
#enemyLetters * {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 2rem;
}
#enemyLetters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}
.gameInfo {
    flex: 1;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-flow: column;
}
.keyboard {
    display: flex;
    flex-flow: column;
    padding: 1rem;
}
.tourInfo {
    font-size: 1.3rem;
}
.keys {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.keys * {
    margin: .6rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #296ea9;
    width: 2rem;
}
.keys .used {
    border-color: grey;
    background: #312d2d;
    color: grey;
}
#localLetters .hit {
    color: #ffbebe;
}
#tourOwner {
    float: left;
}
#localLetters {
    float: right;
}
.my_tour {
    color: yellow;
}
.finalInfo .simpleInput * {
    margin: 0;
}
#theWinner.localPlayer {
    color: #5dedff;
}
#theWinner.enemyPlayer {
    color: #f1a7a7;
}
.finalInfo {
    display: none;
}
.finalInfo .simpleInput {
    justify-content: center;
}