.gameInfo
    #enemyLetters
        h1 _
        h1 _
        h1 _
    .finalInfo
        h2#theWinner placeholder
        .simpleInput
            button#btnRestartGame Zagraj ponownie
.keyboard
    .tourInfo
        #tourOwner
        #localLetters
    .keys
